@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

.heading {
   text-align: center;
   padding: 3em;
  
}

.grid-container {
    margin: 0 auto;
    max-width: 1440px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
}

.article-1 {
    border: gray 1px solid;
    grid-row: 1/2;
     
    
}

.article-1 img{
    width: 100%;
}

.text {
    padding: .5em 1em;
    line-height: 2em;
    
}

.title{
    font-weight: 300;
    font-size: 2rem;
    
}

/* .article-1 img{
    width: 100%;
} */

.date {
    font-weight: 300;
    padding-bottom: 1em;
}
.color {
    opacity: 50%;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.link {
    border: gray 1px solid;
    color:black;
    padding: 1.5em;
}

.article-1 blog {
    grid-row: 2/3
}

.my-name {
    border: gray 1px solid;
    padding: .5em 1em;
    line-height: 2em;
    
  
    
    
    
}

.posts {
    border: gray 1px solid;
   
    width: 100%;
}

.post-heading {
    background-color: rgb(243, 243, 243);
    padding: 2em;
    width: 100%;
   
}

.posts img {
    height: 80px;
    width: 80px;
}

.text-2 {
    display: flex;
    align-items: center;
    border-bottom: grey 1px solid;
    padding: 1em;
}

.text-3 {
  padding-left: 1em; 
}


.tags {
    border: gray 1px solid;
    
    
}

.tags ul {
    list-style: none;
    display: flex;
    gap: 1em;
    
}

.tags li {
    background-color: #fff;
    border: 1px solid gray;
    width: 90px;
    padding: .5em;
    align-items: center;

}

